@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --color-brand-black: #000000;
  --color-brand-white: #ffffff;
  --color-brand-gray-light: #f5f5f5;
  --color-brand-gray: #757575;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --radius: 0.5rem;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
